{
  "presets": [
    [ "@babel/preset-react" ],
    [ 
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11",
          "edge": "17",
          "firefox": "60",
          "chrome": "67",
          "safari": "11.1"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [ 
    "lodash",
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }], // decorator
    ["@babel/plugin-proposal-class-properties", { "loose": true }], // class static propertyx
    "@babel/plugin-syntax-dynamic-import",
    "react-loadable/babel"
  ]
}